:root {
    --main-bg-color: rgba(80, 80, 80, 0.7);
}

html {
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}

.motivations {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: rgba(0, 0, 255, 0.4); */
    background-color: var(--main-bg-color);
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    text-shadow: 3px 3px 4px black;
}

*::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.container h1 {
    color: #fff;
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 8px 8px 50px rgb(0, 0, 0);
}

.container p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 500px;
    background-color: var(--main-bg-color);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.time-content {
    display: flex;
}

.time {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    text-align: center;
    font-weight: 900;
}

.time .number {
    background-color: rgba(255, 255, 255, .5);
    padding: 1rem;
    font-size: 50px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

.time .text {
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-top: 0.5em;
    text-transform: uppercase;
}

#searchInput {
    padding: 8px;
    width: 300px;
    border-radius: 20px;
    border-color: var(--main-bg-color);
    border-width: 5px;
}

#searchBtn {
    padding: 8px;
    border-radius: 10px;
    border-color: var(--main-bg-color);
    transition: all 0.4s ease;
}

#searchBtn:hover {
    background-color: black;
    color: white;
    transition: all 0.4s ease;
}

#startButton {
    padding: 8px;
    border-radius: 10px;
    border-color: var(--main-bg-color);
    transition: all 0.5s ease;
    font-size: x-large;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.7);
    color: white;
}

#startButton:hover {
    background-color: black;
    transition: all 0.5s ease;
}

/* TRADUCTION */

.enTranslate {
    display: flex;
    position: fixed;
    background-color: #fff;
    color: #313131;
    padding: 0.8rem 2rem;
    border-radius: 0 2rem 2rem 0;
    transition: background-color 0.25s;
    border-color: transparent;
    font-size: 1rem;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    right: 0;
}

.frTranslate {
    display: flex;
    position: fixed;
    background-color: #fff;
    color: #313131;
    padding: 0.8rem 2rem;
    border-radius: 2rem 0 0 2rem;
    transition: background-color 0.25s;
    border-color: transparent;
    font-size: 1rem;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    right: 125px;
}

.translate:hover {
    background-color: #313131;
    color: #fff;
    transition: background-color 0.25s;
}